@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Roboto&display=swap');
:root{
    --primary: #c7c7c7;
    --mainWhite: #fff;
    --mainDark: #000;
    --mainRed: rgb(134, 13, 13);
    --gy: greenYellow;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary);
    font-family: 'raleway';
}

/* global */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/*end of global*/

/*nav*/
header{
    background-color: var(--mainRed);
    min-height: 450px;
    background: url(../images/bcg-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid var(--mainWhite);
}
header > nav >ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav >ul >li{
    margin-right: 50px;
}
header > nav >ul >li >a{
    color: var(--mainWhite);
    font-family: 'raleway';
    font-weight: 300px;
    text-transform: uppercase;
    transition: all 1s ease-in;
}
header > nav >ul >li >a:hover{
color: var(--gy);
text-decoration: underline;
text-decoration-color: var(--gy);
}